<a [title]="'Home'" [routerLink]="''" style="text-decoration: none; color: black;">
    <h1> CSXL Check-In System </h1>
</a>

<h2>Registered Users</h2>

<table>
    
    <thead>
        <tr>
            <th>Name</th>
            <th>|</th>
            <th>PID</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.getLN() }}, {{ user.getFN() }}</td>
            <td>|</td>
            <td>{{ user.getPID() }}</td>
        </tr>
    </tbody>

</table>